<!DOCTYPE html>
<html>
<head>
    <title>User Percentile</title>
</head>
<body>
        <center>
            <h2>Tool to display user Percentile and Rank</h2>
            <form method="post">
                {% csrf_token %}
                Enter username: <input type="text" name="username">
                <br>
                <br>
                <button type='submit'> Submit </button>
                <a href="https://stats.wikimedia.org/EN/TablesWikipediaKA.htm">Click to see the list of users</a>
            </form>
        </center>
        <br>
        <br>
        <br>
        {% if name %}

        Name = {{name}} <br>
        Useredits = {{edits}} <br>
        Total_edits = {{total_edits}} <br>
        Rank = {{rank}} <br>
        Total_users = {{total_users}} <br>
        Percentile = {{Percentile}} <br>
        User rating = {{user_rating}} <br>

       {% endif %}

</body>
</html>