{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>
        Microtask 4
    </title>
    <link type="text/css" rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/materialize/0.100.2/css/materialize.css" ></link>
    <link type="text/css" rel="stylesheet" href={% static "style.css" %} ></link>
</head>
<body>
  <div class="row">
  <nav>
    <div class="nav-wrapper pd-left-20">
      <a href="{% url 'App:get_recent_english_edits' %}" class="brand-logo">Microtask 4: Edit analysis</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'App:get_recent_english_edits' %}">Microtask1</a></li>
        <li><a href="{% url 'App:get_the_user_percentile' %}">Microtask2</a></li>
        <li><a href="{% url 'App:task5' %}">Microtask5</a></li>
        <li><a href="{% url 'App:index' %}">Home</a></li>
      </ul>
    </div>
  </nav>
  </div>
<center><h4>Tool to analyse quality of last 5 edits made by user</h4></center>
  <div class="row">
      <form class="col s12" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s6 m6 offset-m3">
            <input id="username" name="username" type="text">
            <label for="username">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="col s6 m6 offset-m3">
            <button class="btn waves-effect waves-light blue-color" type="submit" name="action">Search
            </button>
          </div>
        </div>
      </form>
  </div>

  {% if error %}
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card blue lighten-2">
        <div class="card-content white-text">
        {{error}}   
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card blue lighten-2">
        <div class="card-content white-text">
          <span class="card-title"> About analysis parameters </span>
            <p>
              <ul>
                <li><b>Edit Quality</b>
                    <li>Goodfaith: predicts whether an edit was saved in good-faith </li>
                    <li>Damaging: predicts whether or not an edit causes damage </li>
                    <li>Reverted: predicts whether an edit will eventually be reverted </li>
                </li><br>
                <li><b>Article Quality</b>
                    <li>Draft Qulity: predicts if the article will need to be speedy deleted (spam, vandalism, attack, or OK) </li>
                    <li>Assessment scale: predicts the (Wikipedia 1.0-like) assessment class of an article or draft</li>
                </li>
              </ul>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- loop -->
  {% for x in articles %}

  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card blue lighten-2">
        <div class="card-content white-text">
          <span class="card-title"> User : {{x.user}}</span>
          <ul>
            <li>Title = {{x.title}} </li>
            <li>Comment = {{x.comment}} </li>
            <li>Timestamp = {{x.timestamp}} </li>
            <li>revisionID = {{x.revid}} </li>
            <li><a href="https://en.wikipedia.org/w/index.php?title=User:{{x.user}}&amp;diff=prev&amp;oldid={{x.revid}}">
          Click here to check the difference.</a><br><br>
            </li>
            <li><b>Edit Quality</b>
                <li>Goodfaith = {{x.goodfaith}}</li>
                <li>Damaging = {{x.damaging}}</li>
                <li>Reverted = {{x.reverted}}</li>
            </li><br>
            <li><b>Article Quality</b>
                <li>Draft Quality = {{x.draftquality}}</li>
                <li>Assessment Rating = {{x.quality}}</li>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}

</body>
</html>
